{% extends 'basepage.html' %}
    <title>{% block title %}Register form{% endblock %}</title>
{% block content %}
<br>
<section class="blog-posts">
    <div class="container shadow-lg p-3 mb-5 bg-body-tertiary rounded">
        <div class="all-blog-posts">
            <h2 class="text-center mt-3">Register your self to the system here</h2>

            {% if messages %}
            <div class="alert alert-danger text-center mt-3" role="alert">
                {% for message in  messages %}
                <strong>{{message}}</strong>
                {% endfor %}
            </div>
            {% endif %}

            {% if successMsg == True %}
            <div class="alert alert-success text-center mt-3" role="alert">
                <strong>User is successfully registered, Use login for login to the system</strong>
            </div>
            {% endif %}

            <div class="col-md-6 mt-3" style="margin: 0 auto">
            <form method="POST" autocomplete="off">
                {% csrf_token %}
                {{form.as_p}}
                <button type="submit" class="btn btn-primary col-3" style="margin: 1rem auto 0 auto;display: block">Register</button>
            </form>
            <hr class="border border-success border-2 opacity-50">
            <p class="text-center">Already have an account?</p>
            <a class="btn btn-success col-3" style="margin: 1rem auto 0 auto;display: block" href="/login">login</a>
            </div>
        </div>
    </div>
</section>
{% endblock %}